.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mapContainer {
  position: absolute;
  top: 70px;
  right: 0;
  left: 0;
  bottom: 0;
}

#confirm {
  font-weight: 100;
  background-color: transparent;
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: 00px;
  height: 15%;
  width: 50%;
  font-family: "Open Sans", sans-serif;
  font-size: xx-large;
}

#confirm a {
  font-size: 13px;
  color: transparent;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  text-align: center;
}

#confirm a:last-child {
  border: none;
}

#confirm a:hover {
  background-color: #f8f8f8;
  color: #404040;
}

#confirm a.active {
  background-color: #3887be;
  color: #ffffff;
}

#confirm a.active:hover {
  background: #3074a4;
}

.modal {
  width: 500px;
  background: white;
  border: 1px solid #ccc;
  transition: 1.1s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  position: relative;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  visibility: visible;
}
.modal h2 {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  margin: 0;
}
.modal .content {
  padding: 1rem;
}
.modal .actions {
  border-top: 1px solid #ccc;
  background: #eee;
  padding: 0.5rem 1rem;
}
.modal .actions button {
  border: 0;
  background: #78f89f;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1;
}

.user {
  background-image: url("./assets/user_spot.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
